@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bungee+Spice&family=Chango&family=Chewy&family=Contrail+One&family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Fjalla+One&family=Jaro:opsz@6..72&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Permanent+Marker&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 100vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.menu {
  font-family: "Kanit", sans-serif !important;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: black;
  text-decoration-thickness: 2px; /* Opsional, biar underline lebih tebal */
  transition: color 0.3s ease-in-out;
}

.menu:hover {
  color: rgba(255, 156, 75, 0.8);
}

.deskripsi-drawer {
  font-family: "Lexend Deca", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  text-align: left;
  color: gray;
}


.menu-drawer {
  font-family: "Lexend Deca", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
  text-align: left;
  color: black;
}

.info-drawer {
  font-family: "Lexend Deca", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  text-align: left;
  color: gray;
}

.info-drawer:hover {
  color: black;
}

.social-drawer {
  font-family: "Lexend Deca", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  text-align: left;
  color: gray;
  position: relative; /* Untuk elemen pseudo */
  transition: color 0.3s; /* Transisi warna */
}

.social-drawer::after {
  content: "";
  position: absolute;
  left: 100%; /* Mulai dari kanan */
  bottom: -2px; /* Posisi garis di bawah */
  width: 0; /* Awalnya tidak terlihat */
  height: 2px; /* Ketebalan garis */
  background-color: black;
  transition: width 0.3s ease-out, left 0.3s ease-out; /* Efek animasi */
}

.social-drawer:hover {
  color: black;
}

.social-drawer:hover::after {
  width: 100%; /* Memanjang ke kiri */
  left: 0; /* Bergerak ke kiri */
}

.headline-drawer {
  font-family: "Lexend Deca", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 900;
  text-align: left;
  color: rgb(100, 99, 99);
}

.shadow-light {
  box-shadow: none !important;
}

.headline-blok-second {
  font-family: "Lexend Deca", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 900;
  text-align: left;
  color: rgb(255, 255, 255);
}

.headline-blok-three {
  font-family: "Lexend Deca", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 900;
  text-align: left;
  color: rgb(51, 50, 50);
}

.headline-blok-three-in {
  font-family: "Lexend Deca", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 900;
  text-align: left;
  color: rgb(90, 89, 89);
}

.deskripsi-blok-three {
  font-family: "Lexend Deca", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  text-align: left;
  color: rgb(167, 164, 164);
}

.headline-blok-four {
  font-family: "Lexend Deca", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 900;
  text-align: left;
  color: rgb(51, 50, 50);
}

.deskripsi-blok-four {
  font-family: "Lexend Deca", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 900;
  text-align: left;
  color: rgb(167, 164, 164);
}

.point-linda {
  font-family: "Lexend Deca", sans-serif !important;
  color: #676672;
}

.point-linda-support {
  font-family: "Lexend Deca", sans-serif !important;
  color: #484849;
}

.deskripsi-point-linda {
  font-family: "Lexend Deca", sans-serif !important;
  color: #A6A6AA;
}

.title-footer {
  font-family: "Lexend Deca", sans-serif !important;
  color: "rgb(255, 255, 255)";
  font-weight: 500;
}

.menu-footer {
  font-family: "Lexend Deca", sans-serif !important;
  color: #7c7c7c;
  font-weight: 500;
}

.title-background2 {
  font-family: "Lexend Deca", sans-serif !important;
}

.headline-menu2 {
  font-family: "Lexend Deca", sans-serif !important;
  font-optical-sizing: auto;
}

@keyframes shimmerColor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bounceDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes sideShift {
  0% {
    transform: skewX(0deg);
  }
  25% {
    transform: skewX(-2deg); /* sisi kiri mundur */
  }
  50% {
    transform: skewX(2deg);  /* sisi kanan maju */
  }
  75% {
    transform: skewX(-2deg);
  }
  100% {
    transform: skewX(0deg);
  }
}



